/* Google Fonts – Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Booked4 globális font */
body, .hero-section__description {
  font-family: 'Poppins', sans-serif !important;
}
